/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conten { 
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  max-width: 100%;
  width: 1170px;
  height: 600px;
  background-color: #ffffff;
}
.conten-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.conten-font {
  width: 50%;
}
.conten-font-main
{
  width: 100%;
}

.conten-font-top
{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  
}
.conten-font-mid
{
  
  text-align: center;
  font-weight: bold;
  margin:10px 0px 10px 0px;

}
.conten-font-mid-1
{
  text-align: center;
  margin:10px 0px 10px 0px;
  color: rgb(113, 92, 63);
}
.conten-font-bottom
{
  border: 1px solid antiquewhite;
  background-color: #FF862E;
  border-radius: 15px ;
  width: 100%;
  margin-top: 5%;
}
.conten-font-bottom-1
{
  width: 100%;
  padding: 10px;
  display: flex;
}
.conten-font-bottom-1 .conten-icon-1 
{
  position: relative;
}
.conten-font-bottom-1 .conten-icon-1 i
{
  color: rgb(255, 255, 255);
  position: absolute;
}
.conten-font-bottom-1 .conten-icon-1 span
{
  padding-left: 10%;
}
.conten-all {
  margin: auto;
  width: 330px;
  perspective: 1000px;
  margin-bottom: 240px;
}
.conten-carrousel {
  width: 60%;
  height: 140px;
  position: absolute;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
  border-radius: 15px;
  margin-left: 70px;
}

.conten-carrousel figure {
  width: 100%;
  height: 100%;
  position: absolute;
}
.conten-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(2) {
  transform: rotateY(45deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(3) {
  transform: rotateY(90deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(4) {
  transform: rotateY(135deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(5) {
  transform: rotateY(180deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(6) {
  transform: rotateY(225deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(7) {
  transform: rotateY(270deg) translateZ(250px);
}
.conten-carrousel figure:nth-child(8) {
  transform: rotateY(315deg) translateZ(250px);
}

.conten-carrousel img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@keyframes rotar {
  from { 
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}
@media only screen and (max-width:1067px) {
  .content {
      word-wrap: break-word;
      white-space: normal;
    }
  .conten-all {
      width: 240px;
  }
  .conten-carrousel {
      height: 100px;
      margin-left: 50px;
  }
  
  .conten-carrousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(2) {
      transform: rotateY(45deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(3) {
      transform: rotateY(90deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(4) {
      transform: rotateY(135deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(5) {
      transform: rotateY(180deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(6) {
      transform: rotateY(225deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(7) {
      transform: rotateY(270deg) translateZ(180px);
  }
  .conten-carrousel figure:nth-child(8) {
      transform: rotateY(315deg) translateZ(180px);
  }
}
@media only screen and (max-width: 767px) {
  .conten-container {
     flex-direction: column;
  }
  .conten-font {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
  }
  .conten-all {
     width: 100%;
     margin-bottom: 50px;
  }
  .conten-carrousel {
     width: 80%;
     margin: 0 auto;
     margin-bottom: 20px;
  }
  .conten-carrousel figure {
     width: 80%;
     height: 80%;
  }
  .conten-font-bottom {
      text-align: center;
      margin: 0 auto;
    }
  .conten-carrousel figure:nth-child(1) {
     transform: rotateY(0deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(2) {
     transform: rotateY(-45deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(3) {
     transform: rotateY(-90deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(4) {
     transform: rotateY(-135deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(5) {
     transform: rotateY(-180deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(6) {
     transform: rotateY(-225deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(7) {
     transform: rotateY(-270deg) translateZ(120px);
  }
  .conten-carrousel figure:nth-child(8) {
     transform: rotateY(-315deg) translateZ(120px);
  }
}
/* Media queries for smaller screens */
