@font-face {
  font-family: 'fontzeroone';
  src: url('../../fonts/PTSansNarrow-Bold.ttf');
}
*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .undo img{
  width: 10%;
  padding: 2%;
  float: left;
}
header .logo img{
  width: 20%;
  display: grid;
  place-items: center;
}
header .user img{
  width: 10%;
  padding: 2%;
  float: right;
}
header img{
  width: 10%;
}
section{
  text-align: right;
  padding: .5%;
  width: 100%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article{
  position: relative;
}
main{
  float: left;
  width: 15%;
}
.control{
  float: right;
  width: 85%;
}
nav{
  background-color: rgb(255, 153, 0);
  padding: 1% 2%;
}
nav ul{
  list-style: none;
}
nav ul li{
margin-top: 10%;
font-weight: bold;
background-color: rgb(255, 153, 0);
padding: 3%;
position: relative;
transition: .2s linear;
font-family: monospace;
border-radius: 15px;
}
nav ul li:hover{
background-color: rgb(255, 255, 255);
}
nav ul li:hover ul{
display: block;
}
nav ul li ul{
  display: none;
}
nav ul li ul li:hover{
background-color: rgb(60, 255, 0);
}
nav ul li ul li{
background-color: rgb(255, 255, 255);
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 80%;
  text-transform: capitalize;
}
nav a img{
  margin-top: 20%;
  width: 15%;
  transform: translate(280%);
}
.tk{
padding: 1%;
display: none;
}
.tk h2{
  text-align: center;
  padding: 2% 0;
  text-transform: uppercase;
font-weight: bold;
background-color: rgb(255, 179, 0);
}
.tk p{
  text-transform: capitalize;
  margin: 1% 0 0 .5%;
  font-weight: bold;
}
.tk .form_tt{
  line-height: 150%;
}
.tk .form_tt form{
  line-height: 150%;
  display: grid;
  place-items: center;
}
.tk .form_tt form .check_tt{
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}
.tk .form_tt form .check_tt .form_ck{
  width: 60%;
}
.tk .form_tt form .check_tt .img_ur{
  display: grid;
  place-items: center;
  width: 50%;
}
.tk .form_tt form .check_tt .img_ur img{
  width: 40%;
  border: 1px solid black;
  border-radius: 50%;
}
.tk .form_tt form .check_tt .img_ur input{
  width: 70%;
  margin-top: 2%;
}
.tk .form_tt form .check_tt .img_ur input::-webkit-file-upload-button{
  width: 30%;
  padding: 2%;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid rgb(255, 255, 255);
  background-image: linear-gradient(to right bottom,#ff7b00,white);
}
.tk .form_tt form .check_tt .img_ur input::-webkit-file-upload-button:hover{
  background-image: linear-gradient(to right bottom,#ffffff,rgb(109, 187, 0));
}
.tk .form_tt form .check_tt .form_ck label{
  color: rgb(255, 98, 0) ;
  margin: .5% 0;
  display: inline-block;
  background-color: rgb(232, 232, 232);
  border-radius: 15px;
  padding: 2%;
  width: 70%;
}
.tk .form_tt form .check_tt .form_ck label input{
  width: 100%;
  padding: 2%;
  border-radius: 16px;
  text-transform: capitalize;
  border: 1px solid black;
  background-color: white;
}
.tk .form_tt form input[type='submit']{
  width: 7%;
  padding: 1%;
  border-radius: 16px;
  text-transform: capitalize;
  border: 1px solid rgb(255, 157, 0);
  background-color: rgb(255, 177, 51);
  font-weight: bold;
  color: white;
}
.tk .form_tt form input[type='submit']:hover{
  background-color: rgb(211, 130, 0);
}
.mk{
  padding: 2%;
}
.mk .content_mk{
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.mk .content_mk h2{
  background-color: #ffa734;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.mk form{
  padding: 1%;
  margin: 1% 0;
  width: 50%;
}
.mk form input[type='submit']{
  padding: 2%;
  margin: 1% auto;
  width: 20%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #ffa734;
  font-weight: bold;
}
.mk form input[type='submit']:hover{
  background-color: #c97200;
  color: white;
}
.mk form .input_submit{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 5%;
}
.mk form label{
  display: grid;
  grid-template-columns: 35% 50% 14%;
  margin-top: 2%;
  padding: 1%;
  text-align: right;
  grid-gap: 2%;
}
.mk form label label{
  background-color: #ffeede;
  width: 100%;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: small;
  padding: 1%;
  border-radius: 12px;
}
.mk form label label:hover{
  background-color: #ffc692;
  font-weight: bold;
}
.mk form label input{
  padding: 2%;
  border-radius: 10px;
  border: 1px solid #afafaf;
}
.qmk{
  display: none;
  padding: 2%;
}
.qmk p{
  color:#ff7f8a ;
  font-weight: bold;
  margin: 2% 0;
}
.qmk form{
  font-weight: bold;
  margin: 2% 0;
}
.qmk form input[type='text']{
  padding: .5%;
  margin: 0 2%;
  width:30%;
  border: none;
  border-bottom: 1px solid black;
}
.qmk form input[type='submit']{
  padding: 1%;
  width:5%;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #f06000;
  color: white;
}
.qmk form input[type='submit']:hover{
  background-color: #ff7f2a;
}
form input:focus{
  outline: none;
}
.qmk form label{
  display: inline-block;
  padding: 1% 2%;
}
.mk_new{
 padding: 1%;
 background-image: linear-gradient(45deg, rgb(255, 170, 0), yellow, rgb(119, 255, 0), rgb(11, 176, 2));
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
.mk_new h2{
 text-align: center;
 padding: 1%;
}
.mk_new form{
 padding: 1%;
 width: 50%;
}
.mk_new form label{
 margin-top: 2%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 background-color: #ffffff97;
 padding: 2%;
 border: none;
 border-radius: 15px;
}
.mk_new form label input{
 padding: 1%;
 width: 46%;
 margin-top: 2%;
}
.mk_new form input[type='submit']{
 width: 10%;
 padding: 1%;
 margin: 5% 0 0 10% ;
 border-radius: 40px;
 border: 1px solid black;
 background-color: #ffa82e;
}
.mk_new form input[type='submit']:hover{
background-color: rgb(255, 85, 0);
color: rgb(255, 255, 255);
font-weight: bold;
}
.mk_new form label p:last-child{
  margin-left: 2%;
  width: 12%;
  background-color: #ffc17f;
  padding: 1%;
  text-transform:capitalize;
  font-size: small;
  border-radius: 12px;
}
.mk_new form label p:last-child:hover{
  background-color: #ff9864;
}
.mk_new form label p:first-child{
  margin-left: 2%;
  width: 38%;
}
.dvs{
  padding: 1%;
}
.dvs .dv{
  padding: 1%;
}
.dvs .dv ul[class='uldvth']{
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 2% 20% 18% 27%  10% 8% 10% 5%;
}
.dvs .dv ul[class='uldvth'] li{
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.dvs .dv ul[class='uldvtd']{
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 2% 20% 18% 27% 10% 8% 10% 5%;
  padding: .2%;
  margin-top: 1%;
}
.dvs .dv ul[class='uldvtd']:nth-child(even){
  background-color: #f0f0f0;
}
.dvs .dv ul[class='uldvtd']:nth-child(odd){
  background-color: #ffffff;
}
.dvs .dv ul[class='uldvtd'] li:not(li:nth-child(4)){
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}
.dvs .dv ul[class='uldvtd'] li a{
  text-decoration: none;
  color:  black;
}
.dvs .dv ul[class='uldvtd'] li img{
  width: 80%;
  border-radius: 10px;
}
.dvs .dv ul[class='uldvtd'] li a:hover{
  text-decoration: none;
  color:  rgb(255, 140, 0);
}
.dvs h2{
  background-color: #ffd8db;
  padding: 1%;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}
/* =================================tt==================================== */
.tt h2{
  padding: 1%;
  text-transform: uppercase;
  font-weight: bold;
}
.tt article{
  margin-top: 2%;
}
.tt article a{
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black; 
  padding: 1%;
  margin-top: 1.5%;
}
.tt article a .content_tt{
  margin-left: 1%;
  background-color: white;
  display: block;
}
.tt article a .content_tt h3{
  padding: 1%;
  border-left: 2px solid greenyellow;
  border-bottom: 2px solid rgb(145, 241, 0);
  text-transform: capitalize;
  font-family:'fontzeroone' ;
}
.tt article a .content_tt p{
  padding: 1%;
  line-height: 120%;
}
.tt article a .content_tt p[class='p_content_tt_2'] span{
  text-transform: capitalize;
}
.tt article a .content_tt p[class='p_content_tt_2'] span:last-child{
  margin-left: 50%;
}
.tt article a img{
  width: 20%;
}
/* ------------------------cntt----------------------------- */
.cntt{
  background-image: url(../../img/hot-air-balloons.jpg);
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;
}
.cntt h2{
  padding: 1%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 10px 1px 15px black;
}
.cntt form{
  width: 50%;
  display: grid;
  place-items: center;
  backdrop-filter:blur(40px);
  padding: 2%;
  border-radius: 15px;
}
.cntt form label{
  display: inline-block;
  padding: 1%;
  margin-top: 1%;
  width: 90%;
}
.cntt form label em{
  font-size: smaller;
  text-decoration: underline;
}
.cntt form label p{
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}
.cntt form label input{
  padding: 1.5%;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
}
.cntt form .check{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cntt form .check input{
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  background-color: #ff9500;
  color: white;
  border: 1px solid white;
  padding: 2%;
  border-radius: 5px;
  margin-top: 2%;
}
.cntt form input[type='submit']{
  width: 20%;
}
.cntt form input[type='submit']:hover{
  background-color: green;
}
.cntt form input[type='reset']:hover{
  background-color: rgb(213, 96, 0);
}
.cntt form input[type='reset']{
  width: 30%;
}
/* ------------------------query----------------------------- */
.query {
  display: none;
}
.query.active {
  display: block;
}