<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="css/dkdn1.css">
    <link rel="stylesheet" href="css/ct.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <a href="../index.html" class="logo"><img src="../img/logononfont.png" alt="logo" /></a>
            <div class="icon_menu">
                <div class="icon_menu_hr">
                    <img src="../img/more.png" alt="more" />
                </div>
                <div class="menu" id="menu">
                    <ul class="main">
                        <li>
                            <a href="../index.html#chungtoi" class="link">chúng tôi</a>
                            <a href="../index.html#dv" class="link">du lịch</a>
                            <a href="../index.html#news" class="link">tin tức</a>
                            <a href="../index.html#hotro" class="link">hỗ trợ</a>
                        </li>
                        <li>
                            <form action="#" method="post" id="search-container_hr">
                                <input type="text" name="text" placeholder="Nhập tên dịch vụ..." id="text" />
                                <input type="submit" value="Tìm" name="find" />
                            </form>
                            <img src="../img/search.png" alt="find" id="search-icon-hr" title="esc for out" />
                        </li>
                        <li>
                            <a href="user.html" title="Control"><img src="../img/user.png" alt="" /></a>
                            <ul>
                                <li><a href="dkdn.html">đăng nhập</a></li>
                                <li><a href="#">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <article>
        <div class="row pg-1">
            <div class="col-xs-12 col-md-8">
                <div class="col-md-12">
                    <h2>CHUYẾN ĐI ĐÀ LẠT VŨNG TÀU 2 NGÀY 3 ĐÊM</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="../img/4.jpg" alt="img" />
                    </div>
                    <div class="col-md-6">
                        <p class="text-ca">mã tour: <span>KKAL12</span></p>
                        <p class="text-ca br-top">thời gian: <span>2 ngày</span></p>
                        <p class="text-ca br-top">
                            ngày khởi hành: <span>12/12/1221</span>
                        </p>
                        <p class="text-ca br-top">
                            xuất phát: <span>hồ chí minh</span>
                        </p>
                        <p class="text-ca text-bg-danger wh-50 text-center border-15">
                            giá: <span>900000VND</span>
                        </p>
                        <a href="#form" class="btn btn-success mnt-20">Đăng Ký</a>
                    </div>
                </div>
                <div class="col-md-12 mnt-5">
                    <p>
                    <h5>HỒ CHÍ MINH - MALAYSIA - SINGAPORE </h5>
                    Điểm nổi bật:
                    Tại đất nước hồi giáo Malaysia: vui chơi giải trí tại Cao nguyên Genting – Quần thể Resort Casino nổi tiếng thế giới.
                    Tham quan động Batu, Phố cổ Malacca và tòa nhà cao nhất Malaysia – Twin Towers (Niềm tự hào của người dân Malaysia).
                    Khám phá Gardens by the Bay: nổi tiếng với những siêu cây khổng lồ. Đặc biệt, du khách có thể nghiên cứu các loài cây từ khắp nơi trên thế giới.
                    Vui chơi tại Đảo Sentosa: Chụp hình lưu niệm cùng Universal Studios biểu tượng của đất nước Singapore, Khám phá Casino hiện đại lớn nhất Châu Á…
                    Tham quan city tour Singapore: Công viên sư tử biển, nhà hát Esplanade,…
                    1 BỮA BUFFET BBQ TẠI SINGAPORE VÀ 1 BỮA LẨU TẠI MALAYSIA…
                    NGÀY 1: TP.HCM - KUALA LUMPUR - CITY TOUR - THÁP ĐÔI (Ăn 3 bữa)

                    Quý khách tập trung tại sân bay Tân Sơn Nhất ga đi quốc tế, Trưởng Đoàn hướng dẫn làm thủ tục hàng không và đáp chuyến bay

                    Chuyến bay SGN–KUL VN677 08:15 - 11:25

                    Ăn sáng trên máy bay. Ăn trưa nhà hàng


                    Sau đó bắt đầu hành trình tham quan:

                    Cung điện Hoàng gia (Royal Palace) (chụp hình bên ngoài)
                    Đài tượng niệm Quốc gia (National Monument).
                    Quảng trường Độc lập (Independence Square).
                    Chùa Thiên Hậu (Thien Hau Temple).
                    Tiếp tục tham quan:

                    Tham quan Cửa hàng Socola – Bery’s (Chocolate shop).
                    Chụp hình lưu niệm Tháp Đôi (Twin Towers). Tự do mua sắm tại trung tâm thương mại KLCC.
                    Đoàn dùng cơm tối tại nhà hàng địa phương. Về khách sạn nhận phòng nghỉ ngơi.
                    NGÀY 2: KUALA LUMPUR - ĐỘNG BATU - GENTING - KUALA LUMPUR (Ăn 3 bữa)

                    Đoàn dùng bữa sáng tại khách sạn. Khởi hành tham quan:

                    Động Batu (Batu Cave) cao 272 bậc thang, đây là thánh địa của người Malaysia gốc Ấn độ.
                    Mua sắm tại cửa hàng đồng hồ miễn thuế (Watch shop).
                    Cửa hàng đặc sản địa phương (Local products).
                    Trung tâm nệm cao su (Latex Shop)
                    Đoàn dùng bữa trưa với món Lẩu Uyên Ương.

                    Tiếp tục hành trình đến cao nguyên Genting bằng xe hoặc cáp treo đã từng đạt kỷ lục dài nhất Đông Nam Á với 3,3 km. Lý thú khi những chiếc cabin được lẩn khuất trong mây (tùy điều
                    kiện thời tiết cho phép). Tự do tham quan và mua sắm, đây là một trung tâm phức hợp lớn nhất của Malaysia cách thủ đô chỉ 51 km, nằm ở độ cao 1.800 m so với mặt nước biển.
                    Đoàn trở về thủ đô Kuala Lumpur, dùng cơm tối và trở về khách sạn nghỉ ngơi.

                    NGÀY 3: KUALA LUMPUR - PUTRAJAYA - CITY TOUR MALACA - JOHORE (Ăn 3 bữa)

                    Đoàn dùng buffet sáng tại khách sạn. Trả phòng. Tham quan:

                    Khu PUTRAJAYA – Trung Tâm Hành Chánh mới (NEW CITY) của MALAYSIA với những địa danh du lịch nổi tiếng: Nhà thờ Hồi giáo Putra, Văn phòng Thủ tướng, Trung tâm hội nghị. Putrajaya
                    còn được xem là Thành phố thông minh đẳng cấp thế giới và có môi trường làm việc vô cùng hiện đại: không ô nhiễm môi trường, không tệ nạn, không lạc hậu và dân cư thì được tinh lọc
                    rất kĩ lưỡng.
                    Ăn trưa tại nhà hàng địa phương. Khởi hành đi Malacca, thành phố du lịch nổi tiếng của Malaysia.

                    Trên đường đoàn ngắm nhìn những cánh rừng Cao Su, rừng Cọ, Ca Cao bạt ngàn, ba trong số các loại cây công nghiệp phổ biếnmang lại thu nhập kinh tế lớn cho Malaysia. Hoặc có thể
                    ngắm cảnh sinh hoạt của người dân bản địa khi ngang qua những khu dân cư, khám phá những ngôi nhà sàn gỗ xinh xắn bên đường, nơi dành cho những người theo đạo Hồi nhỡ đường vào
                    hành lễ.

                    Sau đó, Đoàn tiếp tục hành trình đến thành phố cổ Malacca, khám phá thành phố cổ có lịch sử hơn 600 năm. Đến Malacca, hướng dẫn và trưởng đoàn đưa Quý khách đi tham quan:

                    Khu phố cổ Jonkers.
                    Nhà thờ Thánh Saint Paul.
                    Pháo đài cổ Bồ Đào Nha.
                    Đền Cheng Hood.
                    Quảng trường Hà Lan.
                    Pháo đài A’Famosa…
                    Dùng bữa tối tại nhà hàng.

                    Di chuyển đến JOHORE BARU. Nhận phòng khách sạn nghỉ ngơi.
                    NGÀY 4: JOHORE - SINGAPORE - SENTOSA - CITY TOUR (Ăn 3 bữa)

                    Ăn sáng tại khách sạn. Trả phòng. Đoàn di chuyển ra khu vực cửa khẩu Tuas Links, Johore Bahru. Làm thủ tục xuất cảnh Malaysia – Nhập cảnh Singapore.

                    Xe và Hướng dẫn viên đón đoàn đi tham quan:

                    - Tòa nhà Quốc Hội (Parliament House).

                    - Công viên sư tử biển (Merlion Park), biểu tượng của đất nước Singapore.

                    - Nhà hát Victoria – nhà hát cổ kính nhất Singapore. Nơi đây là tâm điểm cho nghệ thuật biểu diễn của đảo quốc sư tử ngay từ thời thuộc địa.

                    - Nhà hát Esplanade nổi tiếng với biểu tượng “Trái sầu riêng” – nhà hát hiện đại bậc nhất của Singapore. Đây cũng là trung tâm biểu diễn văn hóa nghệ thuật tầm cỡ Thế giới.dùng BỮA
                    TRƯA BUFFET BBQ. Sau đó khởi hành đi đảo Sentosa, tham quan:

                    Chụp hình với biểu tượng công viên giải trí Universal Studios.

                    Resorts World – tham quan Casino hiện đại nhất Châu Á tại khách sạn 5 sao lớn nhất Singapore.

                    Công viên Hải dương (S.E.A. Aquarium) – một trong những hồ cá lớn nhất thế giới được UNESCO công nhận. Ở đây, Quý khách chiêm ngưỡng hơn 100,000 động vật biển thuộc hơn 800 loài
                    khác nhau từ khắp nơi trên Thế giới. (Chi phí tự túc)

                    Cửa hàng vàng bạc đá quí và cửa hàng dầu gió, Collagen dưỡng da

                    Quý khách dùng bữa tối. Nhận phòng nghỉ ngơi hoặc tham gia chương trình 3 trong 1 khám phá Singapore về đêm – SINGAPORE BY NIGHT (Chi phí tự túc).

                    Khám phá cuộc sống trong lòng đất người dân Singapore bằng hệ thống Tàu điện ngầm MRT.
                    Trải nghiệm Du thuyền trên dòng sông Singapore ngắm toàn cảnh Clarke Quay và vịnh Marina Bay.
                    Khám phá trung tâm thương mại Suntec City – tìm hiểu Phong Thuỷ Thượng - Phong Thuỷ Hạ.
                    NGÀY 5: JOHORE - SINGAPORE - SENTOSA - CITY TOUR (Ăn 3 bữa)

                    Quý khách dùng buffet sáng tại Khách sạn. Trả phòng. Tham quan:

                    Kỳ quan Gardens by the Bay (Những khu vườn bên Vịnh) đây là khu vườn nhân tạo rộng hơn 100ha, có hơn 250.000 loài thực vật quý hiếm, với các Siêu cây khổng lồ lấy năng lượng mặt
                    trời vào ban ngày và tỏa sáng vào ban đêm. Từ đây Quý khách có thể chụp hình toàn cảnh “Chiếc du thuyền” nằm ở độ cao 200m trên đỉnh của ba tòa nhà khách sạn Marina Bay Sands.
                    Tự do mua sắm, thưởng thức ẩm thực địa phương tại trung tâm thương mại. (Ăn trưa tự túc)
                    Jewel Changi – sự kết hợp giữa thiên nhiên với sức sáng tạo của con người. Quý khách sẽ được chiêm ngưỡng Rain Vortex cao 40m, thác nước trong nhà cao nhất thế giới, và khám phá
                    thung lũng rừng Shiseido xanh tươi với các loài thực vật được chăm sóc tỉ mẩn.
                    Đến giờ hẹn, xe và Hướng dẫn viên đưa đoàn ra sân bay, Làm thủ tục về Việt Nam, đáp chuyến bay về đến Thành phố Hồ Chí Minh.</p>
                </div>
                <div class="row mnt-3 bg-blue border-15 pg-1">
                    <div class="col-md-12">
                        <h4>Điền Thông Tin</h4>
                        <form class="form-horizontal" id="form">
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">Họ Tên</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" placeholder="Họ và tên...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sdt" class="col-sm-4 control-label">Số Điện Thoại</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="sdt" placeholder="012345...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sn" class="col-sm-4 control-label">Số Người</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="sn" placeholder="1,2,3,...">
                                </div>
                            </div>
                            <div class="form-group mnt-3">
                                <div class="col-sm-offset-2 col-sm-12 flex-center">
                                    <input type="reset" class="btn link-danger wh-50" value="Làm lại">
                                    <input type="submit" class="btn btn-success wh-50" value="Đăng ký">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- tin mới -->
            <div class="col-xs-6 col-md-4">
                <aside class="table-responsive">
                    <table class="table over-hn ">
                        <tr class="active">
                            <th class="row">
                                <h4 class="col-md-12 bg-og">Tin mới</h4>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="row mnt-7 a">
                                    <div class="col-md-3">
                                        <img src="../img/2.jpg" alt="img" />
                                    </div>
                                    <div class="col-md-9">
                                        <h6 class="font-8">
                                            CHUYẾN ĐI CỦA BẠN TỚI NHỮNG NƠI BẠN CẦN ĐẾN cùng bạn bè
                                            và người thân yêu
                                        </h6>
                                        <div class="row">
                                            <div class="col-md-6 font-7">2000000 VND</div>
                                            <div class="col-md-6 col-md-offset-6 font-7">
                                                Hàng ngày
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="row mnt-7 a">
                                    <div class="col-md-3">
                                        <img src="../img/2.jpg" alt="img" />
                                    </div>
                                    <div class="col-md-9">
                                        <h6 class="font-8">
                                            CHUYẾN ĐI CỦA BẠN TỚI NHỮNG NƠI BẠN CẦN ĐẾN cùng bạn bè
                                            và người thân yêu
                                        </h6>
                                        <div class="row">
                                            <div class="col-md-6 font-7">2000000 VND</div>
                                            <div class="col-md-6 col-md-offset-6 font-7">
                                                Hàng ngày
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="row mnt-7 a">
                                    <div class="col-md-3">
                                        <img src="../img/2.jpg" alt="img" />
                                    </div>
                                    <div class="col-md-9">
                                        <h6 class="font-8">
                                            CHUYẾN ĐI CỦA BẠN TỚI NHỮNG NƠI BẠN CẦN ĐẾN cùng bạn bè
                                            và người thân yêu
                                        </h6>
                                        <div class="row">
                                            <div class="col-md-6 font-7">2000000 VND</div>
                                            <div class="col-md-6 col-md-offset-6 font-7">
                                                Hàng ngày
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="row mnt-7 a">
                                    <div class="col-md-3">
                                        <img src="../img/2.jpg" alt="img" />
                                    </div>
                                    <div class="col-md-9">
                                        <h6 class="font-8">
                                            CHUYẾN ĐI CỦA BẠN TỚI NHỮNG NƠI BẠN CẦN ĐẾN cùng bạn bè
                                            và người thân yêu
                                        </h6>
                                        <div class="row">
                                            <div class="col-md-6 font-7">2000000 VND</div>
                                            <div class="col-md-6 col-md-offset-6 font-7">
                                                Hàng ngày
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </aside>
            </div>
        </div>
    </article>
    <footer class="footer-section" id="hotro">
        <div class="img_fr">
            <div class="footer-cta pt-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="uil-map-marker"></i>
                            <div class="cta-text">
                                <h4>Chúng Tôi</h4>
                                <span>Quận 12, Công Viên Phần Mềm Quang Trung</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="uil-phone-alt"></i>
                            <div class="cta-text">
                                <h4>Liên Hệ</h4>
                                <span>+84 39 8446 212 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="uil-envelope"></i>
                            <div class="cta-text">
                                <h4>Email</h4>
                                <span>discoveronetime@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-1">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Chúng tôi xin cảm ơn bạn đã dành thời gian để ghé thăm
                            trang web của chúng tôi và tìm hiểu về các dịch vụ du lịch
                            mà chúng tôi cung cấp.<br />
                            Chúng tôi cam kết cung cấp cho bạn những trải nghiệm du
                            lịch chân thành và tận tâm nhất. <br />Chúng tôi hiểu
                            rằng, du lịch là một trải nghiệm đáng giá và chúng tôi sẽ
                            luôn cố gắng để đáp ứng tất cả các nhu cầu của bạn, từ
                            việc đặt phòng khách sạn, đặt vé máy bay cho đến việc sắp
                            xếp các tour du lịch.<br />Nếu bạn cần bất kỳ thông tin
                            hoặc hỗ trợ nào, đừng ngần ngại liên hệ với chúng tôi.
                            Chúng tôi rất vui khi được phục vụ bạn và mong sớm được
                            đón tiếp bạn trong những chuyến du lịch sắp tới.
                        </p>
                        <div class="footer-social-icon">
                            <span>THEO DÕI CHÚNG TÔI</span>
                            <ul class="social_icon">
                                <li>
                                    <a href="#"><i class="uil-facebook-f"> </i></a>FACEBOOK
                                </li>
                                <li>
                                    <a href="#"><i class="uil-twitter"></i></a>TWITTER
                                </li>
                                <li>
                                    <a href="#"><i class="uil-instagram"></i></a>INSTARGRAM
                                </li>
                                <li>
                                    <a href="#"><i class="uil-youtube"></i></a>YOUTUBE
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_end"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</html>