<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/dkdn1.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/ct_dv.css">
</head>
<body>
        <!-- Header -->
        <header>
            <nav>
              <a href="#" class="logo"
                ><img src="../img/logononfont.png" alt="logo"
              /></a>
              <div class="icon_menu">
                <div class="icon_menu_hr">
                  <img src="../img/more.png" alt="more">
                </div>
                <div class="menu" id="menu">
                  <ul class="main">
                    <li>
                      <a href="#chungtoi" class="link">chúng tôi</a>
                      <a href="#dv" class="link">du lịch</a>
                      <a href="#news" class="link">tin tức</a>
                      <a href="#hotro" class="link">hỗ trợ</a>
                    </li>
                    <li>
                      <form action="#" method="post" id="search-container_hr">
                        <input
                          type="text"
                          name="text"
                          placeholder="Nhập tên dịch vụ..."
                          id="text"
                        />
                        <input type="submit" value="Tìm" name="find" />
                      </form>
                      <img
                        src="../img/search.png"
                        alt="find"
                        id="search-icon-hr"
                        title="esc for out"
                      />
                    </li>
                    <li>
                        <a href="view/user.html" title="Control"
                          ><img src="../img/user.png" alt=""
                        /></a>
                        <ul>
                          <li><a href="view/dkdn.html">đăng nhập</a></li>
                          <li><a href="#">Thoát</a></li>
                        </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
    <div class="product">
        <div class="product-container">
            <div class="product-container-top">
                <div class="product-container-top-name">
                    <span>Tour: miền nam</span>
                </div>
                <div class="product-container-top-price">
                    <ul>
                        <li>tìm theo giá:</li>
                        <select name="" id="">
                            <option>1tr->3tr</option>
                            <option>3tr->6tr</option>
                            <option>6tr->9tr</option>
                            <option>6tr->12tr</option>
                            <option>12tr-></option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="product-container-bottom">
                <div class="product-container-bottom-card">
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-container">
            <div class="product-container-top">
                <div class="product-container-top-name">
                    <span>Tour: miền bắc</span>
                </div>
                <div class="product-container-top-price">
                    <ul>
                        <li>tìm theo giá:</li>
                        <select name="" id="">
                            <option>1tr->3tr</option>
                            <option>3tr->6tr</option>
                            <option>6tr->9tr</option>
                            <option>6tr->12tr</option>
                            <option>12tr-></option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="product-container-bottom">
                <div class="product-container-bottom-card">
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="ctdv.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
     <!-- footer -->
     <footer class="footer-section" id="hotro">
        <div class="img_fr">
          <div class="container">
            <div class="footer-cta pt-5">
              <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                    <i class="uil-map-marker"></i>
                    <div class="cta-text">
                      <h4>Chúng Tôi</h4>
                      <span>Quận 12, Công Viên Phần Mềm Quang Trung</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                    <i class="uil-phone-alt"></i>
                    <div class="cta-text">
                      <h4>Liên Hệ</h4>
                      <span>+84 39 8446 212 </span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                    <i class="uil-envelope"></i>
                    <div class="cta-text">
                      <h4>Email</h4>
                      <span>discoveronetime@gmail.com</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-content pt-5 pb-1">
              <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-text">
                      <p>
                        Chúng tôi xin cảm ơn bạn đã dành thời gian để ghé thăm
                        trang web của chúng tôi và tìm hiểu về các dịch vụ du lịch
                        mà chúng tôi cung cấp.<br />
                        Chúng tôi cam kết cung cấp cho bạn những trải nghiệm du
                        lịch chân thành và tận tâm nhất. <br />Chúng tôi hiểu
                        rằng, du lịch là một trải nghiệm đáng giá và chúng tôi sẽ
                        luôn cố gắng để đáp ứng tất cả các nhu cầu của bạn, từ
                        việc đặt phòng khách sạn, đặt vé máy bay cho đến việc sắp
                        xếp các tour du lịch.<br />Nếu bạn cần bất kỳ thông tin
                        hoặc hỗ trợ nào, đừng ngần ngại liên hệ với chúng tôi.
                        Chúng tôi rất vui khi được phục vụ bạn và mong sớm được
                        đón tiếp bạn trong những chuyến du lịch sắp tới.
                      </p>
                    </div>
                    <div class="footer-social-icon">
                      <span>THEO DÕI CHÚNG TÔI</span>
                      <ul class="social_icon">
                        <li>
                          <a href="#"><i class="uil-facebook-f"> </i></a>FACEBOOK
                        </li>
                        <li>
                          <a href="#"><i class="uil-twitter"></i></a>TWITTER
                        </li>
                        <li>
                          <a href="#"><i class="uil-instagram"></i></a>INSTARGRAM
                        </li>
                        <li>
                          <a href="#"><i class="uil-youtube"></i></a>YOUTUBE
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer_end"></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
<script src="js/index.js"></script>
</html>