<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dịch vụ</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/dkdn1.css" />
     <!-- Unicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
     integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
   <link 
     href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira"
     rel="stylesheet">
    <link rel="stylesheet" href="css/ct_dv.css">
</head>
<body>
        <!-- Header chinhs -->
        <header>
            <nav>
              <a href="#" class="logo"
                ><img src="../img/logononfont.png" alt="logo"
              /></a>
              <div class="icon_menu">
                <div class="icon_menu_hr">
                  <img src="../img/more.png" alt="more">
                </div>
                <div class="menu" id="menu">
                  <ul class="main">
                    <li>
                      <a href="#chungtoi" class="link">chúng tôi</a>
                      <a href="#dv" class="link">du lịch</a>
                      <a href="#news" class="link">tin tức</a>
                      <a href="#hotro" class="link">hỗ trợ</a>
                    </li>
                    <li>
                      <form action="#" method="post" id="search-container_hr">
                        <input
                          type="text"
                          name="text"
                          placeholder="Nhập tên dịch vụ..."
                          id="text"
                        />
                        <input type="submit" value="Tìm" name="find" />
                      </form>
                      <img
                        src="../img/search.png"
                        alt="find"
                        id="search-icon-hr"
                        title="esc for out"
                      />
                    </li>
                    <li>
                        <a href="view/user.html" title="Control"
                          ><img src="../img/user.png" alt=""
                        /></a>
                        <ul>
                          <li><a href="view/dkdn.html">đăng nhập</a></li>
                          <li><a href="#">Thoát</a></li>
                        </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
    <div class="product">
        <div class="product-container">
            <div class="product-container-top">
                <div class="product-container-top-name">
                    <span>Tour: miền nam</span>
                </div>
                <div class="product-container-top-price">
                    <ul>
                        <li>tìm theo giá:</li>
                        <select name="" id="">
                            <option>1tr->3tr</option>
                            <option>3tr->6tr</option>
                            <option>6tr->9tr</option>
                            <option>6tr->12tr</option>
                            <option>12tr-></option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="product-container-bottom">
                <div class="product-container-bottom-card">
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-container">
            <div class="product-container-top">
                <div class="product-container-top-name">
                    <span>Tour: miền bắc</span>
                </div>
                <div class="product-container-top-price">
                    <ul>
                        <li>tìm theo giá:</li>
                        <select name="" id="">
                            <option>1tr->3tr</option>
                            <option>3tr->6tr</option>
                            <option>6tr->9tr</option>
                            <option>6tr->12tr</option>
                            <option>12tr-></option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="product-container-bottom">
                <div class="product-container-bottom-card">
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <a href="">yêu thích</a>
                                    <a href="">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <p>sao đánh giá <span>*****</span></p>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <p>còn trống: <span>20</span></p>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <a href="dv_ct.html">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
     <!-- footer -->
     <br>
     <br>
     <footer class="footer " id="hotro">
       <div class="icon-ft">
         <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
       </div>
       <div class="fot-container">
   
         <div class="row">
           <div class="footer-col">
             <h4>về chúng tôi</h4>
             <ul>
               <li><a href="#">địa chỉ: trường cao đẳng fpt polytechnic,Q12,HCM </a></li>
               <li><a href="#">sdt: 0364898403</a></li>
               <li><a href="#">gmail: onhbinh55430@gmail.com</a></li>
               <li><a href="#">fb: Đào Thanh Bình</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>menu</h4>
             <ul>
               <li><a href="#">trang chủ</a></li>
               <li><a href="#">du lịch miền nam</a></li>
               <li><a href="#">du lịch quốc tế</a></li>
               <li><a href="#">du lịch miền bắc</a></li>
               <li><a href="#">tin tức</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>online shop</h4>
             <ul>
               <li><a href="#">liên hệ</a></li>
               <li><a href="#">hỗ trợ</a></li>
               <li><a href="#">giới thiệu</a></li>
               <li><a href="#">địa chỉ</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>theo dõi chúng tôi</h4>
             <div class="social-links">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
           </div>
   
         </div>
       </div>
     </footer>
</body>
<script src="js/index.js"></script>
</html>