<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chitiet.css">
</head>
<body>
    <div class="product">
        <div class="product-container">
            <div class="product-container-top">
                <div class="product-container-top-name">
                    <span>TOUR: miền nam</span>
                </div>
                <div class="product-container-top-price">
                    <ul>
                        <li>tìm theo giá:</li>
                        <select name="" id="">
                            <option>1tr->3tr</option>
                            <option>3tr->6tr</option>
                            <option>6tr->9tr</option>
                            <option>6tr->12tr</option>
                            <option>12tr-></option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="product-container-bottom">
                <div class="product-container-bottom-card">
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-1">
                        <div class="card-top">
                            <div class="card-top-img">
                                <img src="../Responsive Card Slider/anh-dep-du-lich-viet-nam-vietnam-travel-ha-long-bay-01.jpg" alt="">
                            </div>
                            <div class="card-top-hover">
                                <div class="card-top-hover-price">
                                    <p>200.000Đ</p>
                                    <p>2ngày-3đêm</p>
                                </div>
                                <div class="card-top-submit">
                                    <input type="submit" value="yêu thích">
                                    <input type="submit" value="đặt Tour">
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-bottom-h1">
                                <span>du lịch đảo cát bà (2 ngày 3 đêm)</span>
                            </div>
                            <div class="card-bottom-main">
                                <div class="card-bottom-span-container">
                                    <div class="card-bottom-span">
                                        <span>12/12/2023</span> -
                                        <span>12/12/2023</span>
                                    </div>
                                    <div class="div">
                                    </div>
                                </div>
                                <div class="cart-bottom-span-main">
                                    <div class="card-bottom-span-1">
                                        <span>sao đánh giá</span>
                                    </div>
                                    <div class="card-bottom-span-2">
                                        <span>còn trống:20</span>
                                    </div>
                                </div>
                
                                <div class="card-bottom-submit">
                                    <input type="submit" value="chi tiết">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>