<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="css/user.css" />
  </head>
  <body>
    <header>
      <div class="undo">
        <a href="../index.html"><img src="../img/undo.png" alt="image" title="come back"/></a>
      </div>
      <div class="logo"><img src="../img/logofontwhite.png" alt="image" /></div>
      <div class="user"><img src="../img/user.png" alt="image" /></div>
    </header>
    <section>
      <p>Xin chào <span>kin</span></p>
    </section>
    <article>
      <nav>
        <ul>
          <li>
            <a href="user.html">Tài Khoản</a>
            <ul>
              <li><a href="">cập nhật thông tin</a></li>
              <li><a href="">đổi mật khẩu</a></li>
            </ul>
          </li>
          <li>Tin Tức Đã Thích</li>
          <li>Dịch vụ Đã Thích</li>
          <li>Dịch vụ Của Bạn</li>
          <li><a href="">Đăng Nhập Admin</a></li>
        </ul> 
        <a href=""><img src="../img/logout.png" alt="log out" title="log out"/></a>
      </nav>
      <div class="control">
        <div class="tk"></div>
        <div class="cn"></div>
        <div class="mk"></div>
        <div class="tt"></div>
        <div class="dvl"></div>
        <div class="dv"></div>
      </div>
    </article>
  </body>
</html>
